{% extends "base.html" %}
{% load static %}
{% block title %}
تایید ایمیل
{% endblock %}
{% block content %}


<main>
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">
                        <div class="my-3 text-center">لینک ثبت در سایت برای ایمیل شما ارسال شد!!!</div>
                            <div class="pb-2 border-bottom">
                                <span class="small">حساب کاربری ندارید؟</span>
                            <a href="register.html" class="small">
                                عضویت در سایت
                            </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="{% static "components/bootstrap/bootstrap.bundle.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="{% static "components/owl-carousel/owl.carousel.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
<script>
    let checkboxInput = document.querySelector('.checkbox-input')
    let passwordInput = document.querySelector('.password-input')
    let isHide = true
    checkboxInput.addEventListener('click' , ()=>{
        if(isHide){
            passwordInput.type = 'text'
            isHide = false
        }else{
            passwordInput.type = 'password'
            isHide = true
        }
    })

</script>
{% endblock %}